:root {
    --primary: #ede7de;
    --secondary: #756e65;   
    --tertiairy: #cdc1b1;
}

@font-face {
    font-family: 'glacial';
    src: url('../fonts/GlacialIndifference-Regular.otf') format('opentype');
}

body {
    font-family: 'glacial';
    font-size:100%;
    background-color: var(--primary);
    color: var(--secondary);
}

a {
    text-decoration: none;
    color: var(--secondary);
    font-family: 'glacial';
}

a.nav-link {
    text-transform: uppercase;
    font-size: 1.3em;
} 

.footer {
    background-color: var(--tertiairy);
}

.footer span{
    color: black;
}

.footer h3 {
    color: black;
}

.footer-img {
    margin-right: 10px;
}

.navbar-nav {
    height: 70px;
}

.offcanvas-body {
    background-color: var(--primary);
}

.offcanvas-header {
    background-color: var(--primary);
}

.navbar-toggler:focus {
    box-shadow: none;
}

span,p {
    font-size: 1.2em;
}

p.disclaimer {
    font-size: 1.1em;
    font-style: italic;
}

.no-margins p {
    margin: 0;
}

.prices p {
    margin-bottom: 0.3rem;
}

@media only screen and (max-width: 1399px) {
    ul.navbar-nav{
        margin-top: 40px;
    }
}